{% for box in boxes %}
<div class="box box{{ loop.index }}">
  <a href="{{ box.link }}">
    <img src="/urban/images/marketing/{{ six_date }}/w_gw{{ loop.index }}.jpg">
    <div class="overlay">
      <div class="spacer"></div>
      <div class="centered">
        <h2>{{ box.headline }}</h2>
        <p>{{ box.subcopy }}</p>
        {% if box.tag1 %}<div class="shop">{{ box.tag1 }}</div>{% endif %}
        {% if box.tag2 %}<div class="shop">{{ box.tag2 }}</div>{% endif %}
        {% if box.tag3 %}<div class="shop">{{ box.tag3 }}</div>{% endif %}
      </div>
    </div>
  </a>
</div>
{% endfor %}
